build
bin
.cache/
.vs
.vscode

out/

__pycache__/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CMakeSettings.json

# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Libraries
*.dll
*.lib
*.a

# Debug files
*.pdb
*.ilk

# Visual Studio
*.sln
*.vcxproj*
*.user
*.filters

# Ninja
.ninja*
